

body {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: medium;
    color: #555;
    background-color: white;
}

h1 {
    letter-spacing: 3px;
    font-size: 1.4em;
    color: #369;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    letter-spacing: 3px;
    font-size: 1.2em;
    color: #369;
    font-weight: normal;
    font-family: sans-serif;
}

h4 {
    letter-spacing: 3px;
    font-size: 1.5em;
    color: #369;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

h5 {
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
}

h6 {
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    font-size: 0.875em;
    color:#B22222;
    font-family: sans-serif;
}

table {

    color: black;
    margin-left: auto;
    margin-right: auto;
    alignment-adjust: auto;
    font-family: sans-serif;
}

td {
    /*    background-color: rgba(0,0,255,0.1);*/
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: sans-serif;
}

tr{

    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

/* Links */
a {
    color: #126598;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #198a15;
    text-decoration: underline;
    font-family: sans-serif;
}


/********************
      ESTRUCTURA
*********************/

#body-content {
    margin: auto;
    background-color: white;
    width: 1100px;
}

#banner{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 1000px;
}

#top-menu{
    background-color: white;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;

}

#top-menu nav a{
    font-size: 0.9em;
    color: #1C6EA0;
}

#top-menu nav a:hover{
    color: white;
    background-color: #42a142;
    text-decoration: none;
}

.nav li a{
    font-size: 0.8em;
    color: #1C6EA0;
}

.nav li a:hover{
    color: white;
    background-color: #42a142;
    text-decoration: none
}

.nav > li{
    float:left;	
}

#login-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 3px;
}

#login-form table {
    width: 100%;
    color: white;
}

#sidebarR {

    width: 150px;
    float: right;
    margin-top: 50px;
}

#sidebarL {

    width: 170px;
    float: left;
    margin-top: 50px;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
}

#sidebarL div a{
    color: #F0F0F0;
}

.submenu {
    background-color: #9a9ab5;
}

.submenu a{
    color: #000000;
}

#footer{
    width:760px;
    margin:auto;
    background-color: white;
    color: #1C6EA0;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

.error{
    border-color: red;
}

#Bienve{
    float: left;
    color:#369;
    font-size: 1.0em;
    /*top:280px;
    left:150px;
    position: absolute;*/
}

#Bienve h1{
    letter-spacing: 1px;
    color:#369;
    font-size: 0.9em;
    margin-left: 50px;
}

#NombreUser{
    letter-spacing: 1px;
    font-weight: normal;
    float: right;
    width: 640px;
    color:#369;
    font-size: 1.0em;
    /*top:280px;
    left:250px;
    position: absolute;*/
}

#NombreUser h1{
    letter-spacing: 1px;
    font-weight: normal;
    color:#369;
    font-size: 1.2em;
}

table.altrowstable th {
    background-color: #126598;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    color: #000000;
    font-weight: bold;
}

table.altrowstable {
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable tr {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#e6f0ef;
}
.evenrowcolor{
    background-color:#c3dde0;
}

/*Paginacion*/
#items
{
    list-style-type: none;
    display: table;
    text-align: center;
}
ol#pagination {
    width: 700px;
    position: static;
    bottom: -10px;
}

.current{
    color:#FF0000;
}

#pagination{
    alignment-adjust: auto;
    
}
ol#pagination li {
    display:block;
    float: left;
    width: 100px;
    display: none;
    background-color:#00CCFF;
    text-decoration-color: #000000;
    border-width: 1px;
    border-style:solid;
    border-color:#000000;
    text-align: center;

}